body{
  background-color: red;
}
.validate {
  display: block;
  margin: 100px auto 20px auto;
  padding: 0 30px;
  font-size: 18px;
  width: 60%;
  max-width: 400px;
  height: 80px;
  border: 1px solid grey;
  border-radius: 20px;
  outline: none;
}

.validate::placeholder{
  color: grey;
  align-content: center;
}

.card-image{
  display: inline-block;
}

.row5{
  display: block;
  margin-left: 20px ;
}

.col.s3{
  width: fit-content;
  display: inline-block;
  margin: 10px auto 50px auto;
}

img {
  object-fit: cover;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  height: 100%;
}
.imageTitle {
  font-size: 17px !important;
  display: block;
  text-align: center;
  margin: auto;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 500px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


