button {
  display: block;
  margin: auto;
  width: 250px;
  height: 60px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
}

button:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

a{
  text-decoration: none;
}
